.modal-editar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(145, 154, 150, 0.3);
  backdrop-filter: blur(3px);
}

.conteudo-modal {
  display: flex;
  align-items: center;

  flex-direction: column;
  width: 40%;
  height: 90%;
  padding-top: 1rem;
  background-color: white;
  border-radius: 5%;
}

.linha-modal {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 10rem;
}

.caixa-titulo-modal-editar-cliente {
  display: flex;
  align-items: center;

  position: relative;
  height: 9rem;
  width: 80%;
}

.fechar-modal-editar-cliente {
  font-size: 4rem;
  cursor: pointer;
  position: absolute;
  right: -3rem;
}

.icone-titulo-modal-editar-cliente {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 70%;
}

.icone-titulo-modal-editar-cliente h1 {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.4rem;
  color: var(--cor-cinza-2);
}

.formulario-modal-editar-cliente {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}

.caixa-input-modal-editar-cliente {
  width: 100%;
}

.caixa-input-modal-editar-cliente input {
  width: 100%;
  height: 3.5rem;
  padding-left: 1rem;
  border: 0.1rem solid var(--cor-apoio-petroleo-desbotado);
  border-radius: 0.5rem;
  font-family: var(--font-nunito);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0em;
}

.caixa-input-modal-editar-cliente label {
  font-family: var(--font-nunito);
  font-size: 1.4rem;
  font-weight: 600;
  list-style: 2rem;
  color: var(--cor-cinza-2);
}

.mensagem-erro {
  color: var(--cor-feedback-erro);
  font-family: var(--font-nunito);
  font-size: 1rem;
}

.input-uf {
  width: 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.linha-botoes {
  margin-top: 5%;
}

.formulario-botao {
  width: 100%;
  height: 3rem;
  border-radius: 1.3rem;

  text-align: center;
  letter-spacing: 0.05em;
  font-size: 1.5rem;
}

.botao-cancelar {
  border: solid 2px var(--cor-cinza-6);
  background-color: var(--cor-cinza-8);

  color: var(--cor-verde);
}

.botao-cadastrar {
  border-style: none;

  background-color: var(--cor-rosa);

  color: var(--cor-cinza-8);
}