.total-cobrancas {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1.4375rem 2.5rem;
  width: calc(90% / 3);
  height: 10.1rem;
  margin-top: 1.1875rem;

  border-radius: 30px;
  background-color: #eef6f6;
}

.cobrancas-pagas {
  background-color: var(--cor-apoio-petroleo-claro);
}
.cobrancas-vencidas {
  background-color: var(--cor-apoio-vinho-claro);
}

.cobrancas-previstas {
  background-color: var(--cor-apoio-amarelo-claro);
}
.total-cobrancas img {
  height: 50%;
}

.total-cobrancas-texto {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  width: 80%;
}

.total-cobrancas-titulo,
.total-cobrancas-valor {
  color: var(--cor-cinza-1);
  font-family: var(--font-montserrat);

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  letter-spacing: 0em;
}

.total-cobrancas-valor {
  font-size: 2.4rem;
  line-height: 3.1rem;
}
